// footer styles
.footer {
  position: relative;
  background-color: $black;
  padding: 65px 0;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 360px;

    @include d(575) {
      max-width: 100%;
      margin-bottom: 30px;
    }

    .logo {
      padding-top: 15px;
    }
  }

  &__subtitle {
    font-size: 38px;
    display: inline-block;
    @include gradientHor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px 0 20px;

    @include d(1399) {
      font-size: 32px;
    }

    @include d(1199) {
      font-size: 24px;
    }
  }

  &-form {
    width: 100%;

    &__box {
      margin-bottom: 18px;
    }

    &__input {
      background-color: transparent;
      color: rgba($white, .5);
      padding: 10px 0;
      border-bottom: 1px solid rgba($white, .5);

      &::-webkit-input-placeholder {
        font-family: inherit;
        font-size: 16px;
        color: rgba($white, .5);
      }

      &::-moz-placeholder {
        font-family: inherit;
        font-size: 16px;
        color: rgba($white, .5);
      }

      &:-ms-input-placeholder {
        font-family: inherit;
        font-size: 16px;
        color: rgba($white, .5);
      }

      &::placeholder {
        font-family: inherit;
        font-size: 16px;
        color: rgba($white, .5);
      }
    }
  }

  &-nav {
    @include d(575) {
      margin-bottom: 30px;
    }

    &__list {
      font-size: 38px;
      color: $white;
      text-transform: lowercase;



      @include d(1399) {
        font-size: 32px;
      }

      @include d(1199) {
        font-size: 24px;
      }

      @include d(575) {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      li {
        line-height: 1em;


        &:not(:last-child) {
          margin-bottom: 30px;

          @include d(575) {
            margin-bottom: 10px;
            margin-right: 10px;
          }
        }

        a {
          line-height: 1em;

          &:hover {
            @include gradientHor;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

        }
      }
    }
  }

  &-social {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 22px;
      display: inline-block;
      @include gradientHor;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 20px;

      @include d(1399) {
        font-size: 20px;
      }

      @include d(1199) {
        font-size: 18px;
      }
    }

  }
}

.social {
  &-list {
    @include d(575) {
      display: flex;
      justify-content: space-between;
    }

    &__item {

      margin-bottom: 20px;

      @include d(575) {
        margin-bottom: 0;
        margin-right: 10px;
      }

    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border: 1px solid $white;
      border-radius: 50%;
      color: $white;
      white-space: nowrap;
      transition: color $hover-duration $timing, border-color $hover-duration $timing;

      &:hover {
        color: $pink;
        border-color: $pink;
      }

      @include d(575) {
        width: 60px;
        height: 60px;
        font-size: 14px;
      }
    }
  }
}