.form {
  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;

    .form-box {
      flex: 0 0 50%;
      padding: 0 15px;

      &::before {
        display: none;
      }

      .form-label {
        display: flex;
        align-items: center;
      }
    }
  }

  &-box {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      @include gradientHorBack;
    }

    &:nth-child(even) {
      &::before {
        @include gradientHor;
      }
    }
  }

  &-label {
    font-size: 18px;
  }

  &-input {
    font-size: 18px;
    background-color: transparent;
    line-height: 40px;
  }

  &-radio {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid $blue;
    display: block;
    margin-right: 15px;
    position: relative;
    transition: border .2s $timing;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      background-image: url(../img/check.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity .2s $timing;
    }
  }
}

.input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked~.form-radio {
    border: 1px solid $pink;

    &::before {
      opacity: 1;
    }
  }
}



.contact-form {
  position: relative;
  z-index: 1;
  margin: 80px 0;

  &__box {
    position: relative;
    margin-bottom: 50px;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      @include gradientHorBack;

    }
  }

  &__input {
    padding: 15px 0;
    background-color: transparent;
  }

  &__captcha {
    font-size: 16px;
    text-transform: uppercase;
    color: #aaaaaa;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 40px 0;

    @include d(991) {
      font-size: 14px;
    }
  }

  .btn {
    display: block;
    margin: 60px 0 0 auto;
  }
}

.captca-input {
  margin-left: 20px;
  width: 85px;
  border-bottom: 1px solid $pink;
  padding: 0 5px;
  font-size: 16px;
  color: #aaaaaa;
  background-color: transparent;

}