// header styles
.header {
  padding: 38px 0 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;


  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  text-transform: uppercase;
  margin-right: 115px;

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__link {
      font-size: 15px;
      letter-spacing: 0.08em;
      line-height: 1.733em;
      padding: 5px;
    }
  }
}

.humburger {
  width: 21px;
  height: 18px;
  position: relative;

  &__item {
    height: 2px;
    background-color: $black;
    position: absolute;
    left: 0;

    &:nth-child(2) {
      width: 100%;
      top: 50%;
      margin-top: -1px;
    }

    &:first-child,
    &:last-child {
      width: 18px;
    }

    &:first-child {
      top: 0;
    }

    &:last-child {
      bottom: 0;
    }
  }
}

.logo {
  max-width: 180px;
}