// project main styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.7em;
  font-family: "Lansserit", Arial, Helvetica, sans-serif;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;

  // //style default scrollbar
  // &::-webkit-scrollbar {
  //   width: 6px;
  //   background-color: $textColor;
  // }

  // &::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 4px $textColor;
  //   box-shadow: inset 0 0 4px $textColor;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $primary;
  //   outline: 1px solid $primary;
  //   transition: background-color 0.4s ease;
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $textColor;
  margin: 0;
  font-weight: 400;
}

h1,
h2 {
  font-size: 90px;
  line-height: 1.15em;
  margin: 21px 0 15px 0;

  @include d(1399) {
    font-size: 70px;
  }

  @include d(1199) {
    font-size: 60px;
  }

  @include d(991) {
    font-size: 50px;
  }

  @include d(767) {
    font-size: 44px;
  }

  @include d(575) {
    font-size: 40px;
  }
}

h3 {
  font-size: 68px;
  line-height: 1.18em;

  @include d(1399) {
    font-size: 60px;
  }

  @include d(1199) {
    font-size: 50px;
  }

  @include d(991) {
    font-size: 40px;
  }

  @include d(767) {
    font-size: 36px;
  }

  @include d(575) {
    font-size: 32px;
  }
}

h4 {
  font-size: 38px;
  line-height: 1.15em;

  @include d(1399) {
    font-size: 34px;
  }

  @include d(1199) {
    font-size: 30px;
  }

  @include d(991) {
    font-size: 26px;
  }

  @include d(767) {
    font-size: 24px;
  }

  @include d(575) {
    font-size: 20px;
  }
}

h5 {
  font-size: 18px;
  line-height: 1.7em;

  @include d(1399) {
    font-size: 16px;
  }
}

h6 {
  font-size: 16px;
  line-height: 1.7em;

  @include d(1399) {
    font-size: 14px;
  }
}

.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

.title-6 {
  @extend h5;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
  margin: 0;
  outline: none;
}

b,
strong {
  font-size: inherit;
}

img,
picture,
source {
  width: 100%;
  display: block;
}

label {
  cursor: pointer;
}

// hide custom arrows
select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

p,
li {
  line-height: 1.7em;
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.section {
  position: relative;
}

blockquote,
figure {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

// hide date navigation in input
input[type="date"] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input {
  color: $textColor;
  width: 100%;
  border: none;
  transition: border-color $timing $hover-duration,
    color $timing $hover-duration;

  &:focus {
    outline: none;
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 18px;
    color: $textColor;
  }

  &::-moz-placeholder {
    font-family: inherit;
    font-size: 18px;
    color: $black;
  }

  &:-ms-input-placeholder {
    font-family: inherit;
    font-size: 18px;
    color: $black;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 18px;
    color: $black;
  }
}

textarea {
  resize: none;
  outline: none;
  line-height: 1.2em;
  height: 100%;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity $duration $timing;
}

.container {
  @include m(1400) {
    max-width: 1350px;
  }

  @include m(1900) {
    max-width: 1700px;
  }

  @include d(991) {
    max-width: 100%;
  }
}

.subtitle {
  display: inline-block;
  font-size: 22px;
  @include gradientHor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include d(1199) {
    font-size: 18px;
  }
}

.btn {
  font-size: 18px;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  white-space: nowrap;
  border: none;

  &:hover {

    &::before {
      opacity: 0;
      transform: scale(.9);
    }

    &::after {
      opacity: 1;
      transform: scale(.8);
    }

    span {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }

  &:before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(1);
    border-radius: inherit;
    z-index: -1;
    transition: opacity $hover-duration $timing, transform $hover-duration $timing;
  }

  &::before {
    background-image: url(../img/btn.svg);
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  &::after {
    z-index: 1;
    margin: 0;
    @include gradientVert;
    opacity: 0;
  }

  span {
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:first-child {
      @include gradientHor;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 1;
      transition: opacity $hover-duration $timing;
    }

    &:last-child {
      color: $white;
      opacity: 0;
      transition: opacity $hover-duration $timing;
    }
  }

  &_lg {
    width: 170px;
    height: 170px;

    @include d(1199) {
      width: 140px;
      height: 140px;
    }

    @include d(991) {
      width: 100px;
      height: 100px;
    }
  }

  &-play {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include gradientVert;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
    transition: transform $hover-duration $timing;

    @include d(1199) {
      width: 60px;
      height: 60px;
    }

    &:hover {
      transform: translate(-50%, 0) scale(.8);
    }
  }

  &-play_sm {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include gradientVert;
  }
}

.round-img {
  border-top-right-radius: 40rem;
  border-top-left-radius: 40rem;
  overflow: hidden;
}

.slider-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 80px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: width $hover-duration $timing;

  &_prev {
    margin-right: 30px;
    right: 100%;
  }

  &_next {
    left: 100%;
  }

  &:hover {
    width: 120px;

    & .arrow {
      width: 120px;
      opacity: 1;
    }
  }
}

.more-link {
  font-size: 18px;
  display: inline-flex;
  align-items: center;

  &:hover {
    & .more-link__arrow {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

  }

  i {
    font-style: normal;
    @include gradientHorBack;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    border-radius: 50%;
    position: relative;

    &::before,
    &::after {
      content: "";
      border-radius: inherit;
      position: absolute;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity $hover-duration $timing;
    }

    &::before {
      background-image: url(../img/arrow-elipse.svg);
      background-color: transparent;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 1;
    }

    &::after {
      background-image: url(../img/arrow-elipse_white.svg);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
    }
  }
}

.bestseller {
  display: flex;
  align-items: center;
  color: $pink;
  font-size: 14px;

  picture {
    width: 20px;
    margin-right: 15px;
  }
}

.star {
  display: block;
  width: 20px;
  margin-right: 20px;
}