.hero-coaching {
  padding-top: 200px;
  background-color: $heroBg;

  @include d(1440) {
    padding-top: 122px;
  }

  @include d(1399) {
    padding-top: 100px;
  }

  @include d(1199) {
    padding-top: 160px;
    padding-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1630px;
    height: 540px;
    background: linear-gradient(268.96deg, #58CFFF 39.29%, #B7EAFF 86.35%);
    opacity: .1;
    filter: blur(250px);
    transform: rotate(-22.77deg);
  }

  &__title {
    margin: 130px 0 300px 80px;
    position: relative;
    z-index: 2;
    @include d(1440) {
      margin: 130px 0 294px 80px;
    }

    @include d(1199) {
      margin: 60px 0 0 0;
    }

    @include d(991) {
      margin: 60px 0;
    }
  }

  &__img {
    position: relative;
    height: 100%;

    img {
      max-width: 597px;
      width: 137%;
      position: absolute;
      bottom: 0;
      left: -80px;
      @include d(1399) {
        left: -20px;
      }
      @include d(991) {
        position: static;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__video {
    margin-top: 80px;

    @include d(991) {
      margin: 80px 0 0 0;
    }
  }
}
.about-coaching {
  padding: 100px 0 20px 0;

  &::before {
    content: "";
    position: absolute;
    width: 810px;
    height: 820px;
    bottom: 0;
    right: 0;
    background-color: $pink;
    opacity: 0.08;
    filter: blur(250px);
    transform: rotate(107.1deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 580px;
    height: 590px;
    left: 0;
    top: 10%;
    background-color: $blue;
    opacity: 0.1;
    filter: blur(250px);
    transform: rotate(107.1deg);
  }

  &__top {
    margin-bottom: 90px;

    @include d(991) {
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  &__content {
    margin-right: 20px;

    @include d(991) {
      margin-right: 0;
    }
  }

  &__quote {
    margin-bottom: 40px;

    @include d(991) {
      margin-bottom: 30px;
    }
  }

  &__text {
    p {
      margin-bottom: 25px;
    }
  }

  &__img {
    max-width: 480px;
    margin: 0 auto 80px auto;

    @include d(991) {
      margin: 0 auto 40px auto;
    }
  }

  &__bottom {
    p {
      margin-bottom: 40px;
    }
  }
}

.now {
  padding: 10px 0;

  &::before {
    content: "";
    position: absolute;
    width: 1300px;
    height: 1300px;
    left: -219px;
    top: -200%;
    opacity: 0.1;
    border-radius: 50%;
    border: 1px solid #000000;
  }

  &::after {
    content: "";
    position: absolute;
    width: 790px;
    height: 790px;
    left: 0;
    top: 0;
    background-color: $pink;
    opacity: 0.08;
    filter: blur(250px);
    transform: rotate(107.1deg);
  }

  &__content {
    position: relative;

    &::before {
      content: "";
      width: 600px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }

  &__title {
    font-size: 144px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    @include gradientHor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include d(1399) {
      font-size: 120px;
    }

    @include d(1199) {
      font-size: 100px;
    }

    @include d(991) {
      font-size: 90px;
    }

    @include d(767) {
      font-size: 80px;
    }
  }
}

.letter {
  padding: 5px 0 100px 0;

  &__text {
    padding-top: 60px;
    position: relative;

    @include d(1199) {
      padding-top: 20px;
    }

    p {
      @include gradientHor;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 50px;
      font-size: 22px;

      @include d(1199) {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }

    img {
      max-width: 120px;
      position: absolute;
      top: 100%;
      left: 10%;
    }
  }
}

.coaching__testimonials {
  padding: 0 0 80px 0;
}