.hero-meditation {
  padding-top: 146px;
  background-color: $heroBg;
  overflow: hidden;

  @include d(1440) {
    padding-top: 122px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1100px;
    height: 480px;
    left: 0;
    top: 0;
    background: linear-gradient(273.9deg, #DE5B6F 18.99%, rgba(222, 91, 111, 0.24) 99.78%);
    opacity: 0.15;
    filter: blur(250px);
    transform: rotate(-153.29deg);
  }

  &::after {
    content: "";
    width: 260px;
    height: 600px;
    right: 0;
    top: 215px;
    background-color: $blue;
    opacity: 0.2;
    filter: blur(242px);
    transform: matrix(0.4, 0.91, -0.93, 0.38, 0, 0);
  }

  &__img {
    max-width: 600px;
    margin: 0 auto;

    @include d(1440) {
      max-width: 480px;
    }
  }

  &__title {
    margin: 110px 0;

    @include d(991) {
      margin: 60px 0;
    }
  }
}