.hero-store {
  background-color: $heroBg;
  padding-top: 125px;
  overflow: hidden;

  @include d(1440) {
    padding-top: 122px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1100px;
    height: 480px;
    left: -200px;
    top: 0;
    background: linear-gradient(273.9deg, #DE5B6F 18.99%, rgba(222, 91, 111, 0.24) 99.78%);
    opacity: 0.15;
    filter: blur(250px);
    transform: rotate(-153.29deg);
  }

  &::after {
    content: "";
    width: 260px;
    height: 600px;
    right: 0;
    top: 215px;
    background-color: $blue;
    opacity: 0.2;
    filter: blur(242px);
    transform: matrix(0.4, 0.91, -0.93, 0.38, 0, 0);
  }

  &__img {
    max-width: 580px;
    margin: 0 0 0 auto;

    @include d(1440) {
      max-width: 440px;
    }

    @include d(991) {
      margin: 0 auto;
    }
  }

  &__title {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;

    @include d(991) {
      margin-left: 0;
      margin-bottom: 40px;
    }
  }
}

.store-shop {
  &__subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
    margin-bottom: 50px;

    @include d(1399) {
      margin-left: 0;
    }
  }

  .podcast-audio__item {
    padding-top: 20px;
    padding-bottom: 20px;

    @include d(575) {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .podcast-audio__title {
    margin-bottom: 20px;
  }
}

.store-card {
  &__img {
    max-width: 90px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .btn_md {
      width: 130px;
      height: 130px;
      flex: 0 0 130px;

      @include d(991) {
        width: 100px;
        height: 100px;
        flex: 0 0 100px;

      }
    }

    .more-link {
      margin-top: 20px;
    }
  }

  &__price {
    width: 87px;
    height: 87px;
    @include gradientVert;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white;
    border-radius: 50%;
    overflow: hidden;
  }
}