.hero-video {
  padding-top: 177px;
  background-color: $heroBg;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 260px;
    height: 600px;
    right: 20%;
    bottom: 0;
    background-color: $blue;
    opacity: 0.2;
    filter: blur(242px);
    transform: matrix(0.4, 0.91, -0.93, 0.38, 0, 0);
  }

  @include d(1440) {
    padding-top: 117px;
  }

  &__img {
    width: 560px;
    margin: 30px auto 0 auto;

    @include d(1440) {

      width: 460px;
    }

    @include d(1100) {
      width: 360px;
    }

    @include d(767) {
      position: static;
      margin: 0 auto;
    }
  }

  &__title {
    padding: 0;
    margin-left: 100px;

    @include d(991) {
      margin-left: 0;
    }
  }
}

.podcast-video {
  &__subtitle {
    padding-left: 120px;
    padding-bottom: 60px;

    @include d(1399) {
      padding-left: 0;
    }
  }
}