  <!-- footer start -->
  <footer class="footer js-scroll js-show js-fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="footer__content">
            <a href="./" class="logo">
              <img src="img/logo-white.svg" alt="Kute Blackson">
            </a>
            <p class="footer__subtitle">subscribe</p>
            <div class="footer-form">
              <form>
                <div class="footer-form__box">
                  <label for="footerName" class="footer-form__label">
                    <input type="text" class="footer-form__input" id="footerName" placeholder="Name">
                  </label>
                </div>
                <div class="footer-form__box">
                  <label for="footerEmail" class="footer-form__label">
                    <input type="text" class="footer-form__input" id="footerEmail" placeholder="Email">
                  </label>
                </div>
                <a href="#" class="more-link"> <i>i'm ready</i>
                  <span class="more-link__arrow">
                  </span>
                </a>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <nav class="footer-nav">
            <ul class="footer-nav__list">
              <li class="footer-nav__item">
                <a href="#">home</a>
              </li>
              <li class="footer-nav__item">
                <a href="#">about</a>
              </li>
              <li class="footer-nav__item">
                <a href="#">experiences</a>
              </li>
              <li class="footer-nav__item">
                <a href="#">store</a>
              </li>
              <li class="footer-nav__item">
                <a href="#">blog</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-3">
          <div class="footer-social">
            <p class="footer-social__title">connect with me:</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  Insta
                </a>
              </li>
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  YTube
                </a>
              </li>
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  Fbook
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->