<!-- modal -->
<!-- <div class="modal modal__letter" id="modalLetter">
  <div class="modal__content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="title-4">You can be who are born to be.</h4>
          <p>You can break free from your past conditioning once and for all.</p>
          <h4 class="title-4">You can live the life of your dreams.</h4>
          <p>You can fulfill your full potential in this lifetime.</p>
          <h4 class="title-4">It is possible.</h4>
          <p>There is a power inside of you.</p>
        </div>
        <div class="col-sm-6">
          <div class="modal__img">
            <img src="img/modal/img1.jpg" alt="img">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="title-4">My commitment is to inspire you find your purpose, discover the real you and to love
            fully.
          </h4>
          <p>Your time is now.</p>
          <h4 class="title-4">I have helped thousands around the world manifest their dreams</h4>
          <p>Now I will show YOU how.</p>
          <h4 class="title-4">The world is waiting for YOU.</h4>
        </div>
      </div>
    </div>
    <span class="modal-elipse1"></span>
    <span class="modal-elipse2"></span>
    <span class="modal-elipse _3"></span>
    <span class="modal-elipse _4"></span>
    <span class="modal-elipse _5"></span>
    <span class="modal-elipse _6"></span>
  </div>
</div> -->